@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');
body{
    font-family: 'Dosis', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    min-height: 100vh;
    justify-content: center;
    background-color: #BDBDBD;
}
main{
    text-align: center;
    width: 100%;
    max-width: 580px;  /* Limita a largura em telas grandes */
    padding: 1rem;     /* Espaçamento interno */
}
main img{
    border-radius: 1.5rem;
    border: 0.1rem solid black;
}
section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
}
section a{
    color: white;   
    background-color: red;
    border-radius: 0.7rem;
    padding: 0.8rem 0.8rem; /* Deixa o botão mais 'gordinho' */
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    
    /* (Bônus) Efeito ao passar o mouse */
    transition: transform 0.2s ease-in-out;
}
#footer{
    position:relative;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 14px;
    color: #888;
    margin-bottom: 10px;
}